---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Harsh Raj
      </span>
    </h1>
    <p class="text-center ms-auto p-2 italic text-gray-300 text-sm">
      Full Stack Dev | Linux Enthusiast | Hackathon Freak | CS Undergrad
    </p>
  </div>
  <div>
    <p class="mb-5 text-center mx-auto">
      <p class="cursor-pointer text-center border-2 border-solid rounded-lg mx-6 p-2 lg:mx-24 my-3 py-1 hover:scale-110 hover:bg-gray-800 transition-transform duration-300" onclick="window.open('https://hraj.dev', '_blank')">
        Website: <a href="https://hraj.dev" target="_blank" rel="noopener noreferrer">hraj.dev</a>
      </p>

      <p class="cursor-pointer text-center border-2 border-solid rounded-lg mx-6 p-2 lg:mx-24 my-3 py-1 hover:scale-110 hover:bg-gray-800 transition-transform duration-300" onclick="window.open('mailto:harshraj2717@gmail.com', '_blank')">
        Mail: <a href="mailto:harshraj2717@gmail.com" target="_blank" rel="noopener noreferrer">harshraj2717@gmail.com</a>
      </p>

      <p class="cursor-pointer text-center border-2 border-solid rounded-lg mx-6 p-2 lg:mx-24 my-3 py-1 hover:scale-110 hover:bg-gray-800 transition-transform duration-300" onclick="window.open('https://linkedin.com/in/harshraj2717', '_blank')">
        LinkedIn: <a href="https://linkedin.com/in/harshraj2717" target="_blank" rel="noopener noreferrer">/in/harshraj2717</a>
      </p>

      <p class="cursor-pointer text-center border-2 border-solid rounded-lg mx-6 p-2 lg:mx-24 my-3 py-1 hover:scale-110 hover:bg-gray-800 transition-transform duration-300" onclick="window.open('https://github.com/HarshRaj2717', '_blank')">
        GitHub: <a href="https://github.com/HarshRaj2717" target="_blank" rel="noopener noreferrer">/HarshRaj2717</a>
      </p>

      <p class="cursor-pointer text-center border-2 border-solid rounded-lg mx-6 p-2 lg:mx-24 my-3 py-1 hover:scale-110 hover:bg-gray-800 transition-transform duration-300" onclick="window.open('https://leetcode.com/harshraj2717', '_blank')">
        LeetCode: <a href="https://leetcode.com/harshraj2717" target="_blank" rel="noopener noreferrer">/harshraj2717</a>
      </p>

<!---
      <p class="cursor-pointer text-center border-2 border-solid rounded-lg mx-6 p-2 lg:mx-24 my-3 py-1 hover:scale-110 hover:bg-gray-800 transition-transform duration-300" onclick="window.open('https://x.com/HarshRaj2717', '_blank')">
        X: <a href="https://x.com/HarshRaj2717" target="_blank" rel="noopener noreferrer">@harshraj2717</a>
      </p>
      <p class="cursor-pointer text-center border-2 border-solid rounded-lg mx-6 p-2 lg:mx-24 my-3 py-1 hover:scale-110 hover:bg-gray-800 transition-transform duration-300" onclick="window.open('https://www.instagram.com/harsh_raj2717/', '_blank')">
        Instagram: <a href="https://www.instagram.com/harsh_raj2717/" target="_blank" rel="noopener noreferrer">/harsh_raj2717</a>
      </p>
--->
      <p class="cursor-pointer text-center border-2 border-solid rounded-lg mx-6 p-2 lg:mx-24 my-3 py-1 hover:scale-110 hover:bg-gray-800 transition-transform duration-300" onclick="window.open('https://drive.google.com/file/d/1b6s1vvrGiA5WmvtLKK3VKVHFbWiaA96w/view?usp=sharing', '_blank')">
        Resume: <a href="https://drive.google.com/file/d/1b6s1vvrGiA5WmvtLKK3VKVHFbWiaA96w/view?usp=sharing" target="_blank" rel="noopener noreferrer">drive.google.com/...</a>
      </p>
    </p>
  </div>
</section>
